.song-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    &__modal-container {
      display: flex;
      flex-direction: column;
    }
    &__songs-list {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      width: 600px;
      min-height: 300px;
      background-color: red;
      gap: 10px;
    }
    &__song-item {
      display: flex;
      justify-content: space-between;
      padding: 6px;
      align-items: center;
      width: 100%;
      height: 80px;
      background-color: green;
    }
  }